html{
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    font-family: "Be Vietnam Pro", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    width: 1200px;
    margin: 0 auto;
}
#small-header{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.centered-box{
    display: grid;
    place-content: center;
}
.dark-gray{
    background-color: #E2E2E2;
}
.round{
    border-radius: 8px;
}
#logo{
    width: 200px;
    height: 60px;
}
#menu{
    width: 820px;
    height: 34px;
}
#button{
    width: 120px;
    height: 42px;
}
#content-box{
    align-self: center;
    width: 585px;
    height: 267px;
}
#image{
    width: 585px;
    height: 520px;
}
.light-gray{
    background-color: #F1F1F1;
}
.container{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    gap: 30px;
    margin: auto;
    justify-content: flex-start;
}
.title{
    align-self: center;
    font-family: "Lora", serif;
    width: 600px;
    height: 80px;
    margin-bottom: 40px;
}
.item-1{
    width: 380px;
    height: 420px;
}
.item-2{
    width: 216px;
    height: 300px;
}
.item-3{
    width: 277.5px;
    height: 300px;
}
#footer{
    background-color: #D9D9D9;
    height: 72px;
}