@media only screen and (max-width: 700px){
    html{
        color: #333333;
        font-size: 20px;
        font-weight: 700;
        font-family: "Be Vietnam Pro", sans-serif;
    }
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #header{
        padding-top: 25px;
        padding-bottom: 25px; 
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #logo{
        display: grid;
        place-content: center;
        width: 140px;
        height: 42px;
        border-radius: 8px;
        background-color: #E2E2E2;
        order: 2;
    }
    #menu{
        display: grid;
        place-content: center;
        width: 66px;
        height: 36px;
        border-radius: 8px;
        background-color: #E2E2E2;
        order: 1;
    }
    #button{
        display: grid;
        place-content: center;
        width: 78px;
        height: 36px;
        border-radius: 8px;
        background-color: #E2E2E2;
        order: 3;
    }
    #Content{
        display: grid;
        place-content: center;
        align-self: center;
        width: 100%;
        max-width: 546px;
        height: 267px;
        border-radius: 8px;
        background-color: #E2E2E2;
        order: 2;
    }
    #image{
        display: grid;
        place-content: center;
        width: 100%;
        max-width: 546px;
        height: 491px;
        border-radius: 8px;
        background-color: #E2E2E2;
        order: 1;
    }
    .light-gray{
        background-color: #F1F1F1F1;
    }
    .container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .content{
        padding: 3px;
        display: flex;
        gap: 10px;
        max-width: 576px; 
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .title{
        display: grid;
        place-content: center;
        justify-self: center;
        font-family: "Lora", serif;
        background-color: #E2E2E2;
        width: 95%;
        max-width: 546px;
        height: 60px;
        border-radius: 8px; 
        margin-bottom: 20px;
    }
    .item-1{
        display: grid;
        place-content: center;
        width: 100%;
        max-width: 546px;
        height: 420px;
        border-radius: 8px;
        background-color: #E2E2E2;
        margin-bottom: 10px;
    }
    .item-2{
        display: grid;
        place-content: center;
        width: calc(50% - 5px);
        max-width: 258px;
        height: 300px;
        border-radius: 8px;
        background-color: #E2E2E2;
        margin-bottom: 10px;
    }
    .item-3{
        display: grid;
        place-content: center;
        width: calc(50% - 5px);
        max-width: 258px;
        height: 300px;
        border-radius: 8px;
        background-color: #E2E2E2;
        margin-bottom: 10px;
    }
    #footer{
        height: 72px;
        display: grid;
        place-content: center;
    }
}