@media only screen  and (max-width: 1245px){
        html{
        color: #333333;
        font-size: 20px;
        font-weight: 700;
        font-family: "Be Vietnam Pro", sans-serif;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #header{
        width: 720px;
        margin: 0 auto;
    }
    #small-header{
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .centered-box{
        display: grid;
        place-content: center;
    }
    .dark-gray{
        background-color: #E2E2E2;
    }
    .round{
        border-radius: 8px;
    }
    #logo{
        width: 140px;
        height: 42px;
    }
    #menu{
        width: 418px;
        height: 30px;
    }
    #button{
        width: 102px;
        height: 36px;
    }
    #content-box{
        align-self: center;
        width: 345px;
        height: 267px;
    }
    #image{
        width: 345px;
        height: 310px;
    }
    .light-gray{
        background-color: #F1F1F1;
    }
    .container{
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 720px;
        margin: auto;
        justify-content: flex-start;
    }
    .title{
        align-self: center;
        font-family: "Lora", serif;
        width: 720px;
        height: 60px;
        margin-bottom: 30px;
    }
    .item-1{
        width: 345px;
        height: 420px;
    }
    .item-2{
        width: 220px;
        height: 300px;
    }
    .item-3{
        width: 345px;
        height: 300px;
    }
    #footer{
        background-color: #D9D9D9;
        height: 72px;
    }
}